.commentmodel{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    width: 100%;
    height: 100vh;
    background-color: rgba(78, 78, 78, 0.555);
    display: none;

    .commentclose{
        position: absolute;
        right: 2rem;
        top: 2rem;
        z-index: 101;
        font-weight: bold;
        color:#fff;
        cursor: pointer;
        font-size: 2rem;


    }

    &-container{
        max-width: 80rem;
        margin: 0 auto;
        width: 100%;
        padding: 2rem 0;

        .comment-box{
            
            form{
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                gap: 0.5rem;

                textarea{
                    font-size: 1.3rem;
                    padding: 1rem;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                }

                .btn{
                    font-size: 11px;
                    font-weight: 600;
                    min-width: 60px;
                    padding:0.3rem 0.5rem ;
                    text-align: center;
                    border-radius: 3px;
                    text-shadow: 0 1px 0 rgb(0 0 0 / 10%);
                    font-family: sans-serif;
                    color: #fff;
                 
                    text-transform: uppercase;
                  
                 
                        background-color: #1cbcfcc5;
                    
                }
            }
            
        }

        .comment-list{
            margin-top: 1rem;
            padding: 1rem;
            background-color: #fff;
            display: flex ;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            flex-direction: column;
            gap: 0.5rem;
            border-radius: 5px;

            .name{
                color:  #1cbcfcc5;
                font-size: 2rem;
                font-weight: 500;
            }

            .comment-text{
                font-size: 1.3rem;
            }

        }


    }

}